header.page-header
  .container-fluid.h-100
    .app-content.h-100
      .left.align-self-center
        a(ng-click='miniSidebar = !miniSidebar' ng-class='{active: miniSidebar}')
          i.fa(ng-class='{"fa-compress": !miniSidebar, "fa-expand": miniSidebar}')
        .title
          h5.mb-0 {{title}}
      .right
        .menu
          settings
          a(ng-click='panel = !panel' ng-class='{active: panel}')
            i.fa.fa-bars
        form(class='form-inline query')
          .input-group
            input(type='text' class='form-control form-control-sm' ng-model='state.searchQuery' ng-change='search({curQuery: state.searchQuery, prevQuery: "{{state.searchQuery}}"})' ng-focus='wider = true' ng-blur='wider = false' ng-class='{wider: wider || panel}' placeholder='Search')
            .input-group-addon
              i.fa.fa-search