nav.mt-3
  ul.pagination.justify-content-center
    li.page-item(ng-if='totalPages > length' ng-class='{"disabled": currentPage === 1}')
      a(href='' ng-click='setPage({page: 1})' class='page-link')
        i.fa.fa-angle-double-left
    li.page-item(ng-class='{"disabled": currentPage === 1}')
      a(href='' ng-click='setPage({page: currentPage - 1})' class='page-link')
        i.fa.fa-angle-left
    li.page-item(ng-repeat='page in nav' ng-class='{"active": currentPage === page}')
      a(href='' ng-click='setPage({page: page})' class='page-link' ng-bind='page')
    li.page-item(ng-class='{"disabled": currentPage === totalPages}')
      a(href='' ng-click='setPage({page: currentPage + 1})' class='page-link')
        i.fa.fa-angle-right
    li.page-item(ng-if='totalPages > length' ng-class='{"disabled": currentPage === totalPages}')
      a(href='' ng-click='setPage({page: totalPages})' class='page-link')
        i.fa.fa-angle-double-right