{
  "parser": "babel-eslint",
  "rules": {

    // errors
    "no-empty": 2,
    "no-console": 2,
    "no-cond-assign": 2,
    "no-func-assign": 2,
    "no-unused-labels": 2,
    "no-constant-condition": 2,

    // warnings
    
    "curly": 1,
    "eqeqeq": 1,
    "quotes": [1, "single"],
    "no-inline-comments": 1,

    // ES2015
    "no-var": 1,
    "prefer-const": 2,
    "no-const-assign": 2
  },
  "globals": [
    "jQuery",
    "$"
  ],
  "envs": [
    "browser"
  ]
}