# Logs
logs
*.log

# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Bower Dependency directory
bower_components

# Distribution directory
dist

# Database file
config/database.sqlite

# Debug log from npm
npm-debug.log