// ==========================================================================
// Default Settings
// ==========================================================================

// colors
$orang: #ffbe0b;
$red: #f44336;
$blue: #358ed7;
$purple: #838cc7;
$green: #63c672;

$brand-primary: $blue;

// font family
$font-family-base: 'Segoe UI', sans-serif;

// sidebar background
$sidebar-background-color: #787878;
$sidebar-background-image: url(../images/background1.jpg);