extends layout

block content
  .overlay
    .wrapper
      img(src='images/render.svg')
  div(class='app-wrapper' ng-app='slim')
    div(class='app-container' ng-controller='MainCtrl as vm')
      .sidebar(ng-class='{"mini": miniSidebar}')
        .sidebar-background
        .header
          .logo
        ul.nav.flex-column
          li(ng-class='{active: vm.getUrl() === "books"}')
            a(href='/books')
              i.fa.fa-book
              span Books
          li(ng-class='{active: vm.getUrl() === "patrons"}')
            a(href='/patrons')
              i.fa.fa-users
              span Patrons
          li(ng-class='{active: vm.getUrl() === "loans"}')
            a(href='/loans')
              i.fa.fa-clock-o
              span Loans
          li
            a(href='/logout')
              i.fa.fa-sign-out
              span Logout
      .app-main-container
        navigation(mini-sidebar='miniSidebar' title='vm.nav.title' panel='panel' category='vm.nav.category' search='vm.nav.search(curQuery, prevQuery)')
        .app-content
          script(type='text/ng-template' id='error-messages')
            div(class='tooltip-inner' ng-message='required') This field is required
            div(class='tooltip-inner' ng-message='number') Invalid number
            div(class='tooltip-inner' ng-message='date') Invalid Date
            div(class='tooltip-inner' ng-message='letters') This field can contain only letters
          div(class='view angular-animate' ng-view)
          panels(panel='panel' authors-list='vm.authors' genres-list='vm.genres' titles-list='vm.titles' patron-names-list='vm.patronNames')

  script(src='/js/libs.min.js')
  script(src='/js/app.min.js')