extends layout

block content
  .overlay
    .wrapper
      img(src='images/render.svg')
  div(class='app-wrapper' ng-app='slim')
    div(class='app-container' ng-controller='MainCtrl as vm')
      .sidebar
        .header
          h5 Slim
        ul.nav.flex-column
          li(ng-class='{active: vm.getUrl() === "books"}')
            a(href='/books')
              i.fa.fa-book
              span Books
          li(ng-class='{active: vm.getUrl() === "patrons"}')
            a(href='/patrons')
              i.fa.fa-users
              span Patrons
          li(ng-class='{active: vm.getUrl() === "loans"}')
            a(href='/loans')
              i.fa.fa-clock-o
              span Loans
          li
            a(href='/logout')
              i.fa.fa-sign-out
              span Logout
      .app-main-container
        navigation(title='vm.nav.title' panel='panel' category='vm.nav.category' filter-list='vm.nav.filterList' switch-filter='vm.nav.switchFilter(filter)' changeable='vm.nav.changeable()' search='vm.nav.search(curQuery, prevQuery)' adjust='vm.nav.adjust(force)')
        .app-content
          div(class='view angular-animate' ng-view)
          panels(panel='panel' authors-list='vm.authors' genres-list='vm.genres' titles-list='vm.titles' patron-names-list='vm.patronNames')

  script(src='/js/libs.min.js')
  script(src='/js/app.min.js')