// ==========================================================================
// Animations
// ==========================================================================

.animated {
  -webkit-animation-duration: $fast;
  animation-duration: $fast;
  animation-timing-function: ease;
}

// Keyframes
@-webkit-keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fadeOutUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

// Class animation
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}


// Angular animations
.view {
  @include fadeIn($fast);
}

.row {
  @include fadeInDown($fast);
  @include fadeOutUp($fast);
}

.panel.new {
  @include slideOutRight($medium);
  @include slideInUp($fast);
}

table tbody {
  @include fadeIn($fast);
  @include fadeOut($fast);
}