// ==========================================================================
// Base Styles
// ==========================================================================

body {
  font-family: $font-family-base;
  height: 100vh;
  width: 100%;
  min-width: 100%;
  position: relative;
}

button, input, select {
  font-family: $font-family-base;
}

button,
a[ng-click],
.btn {
  cursor: pointer;
}

select, input {
  font-size: $font-size-sm;
}

a {
  transition: $btn-transition;
  &[disabled] {
    cursor: not-allowed !important;
    opacity: 0.65;
  }
  &:hover, &:focus {
    text-decoration: none;
  }
}