.loader.w-100(ng-if='vm.books.data[0] === "loading"')
  img(src='images/loader.svg')
div(class='mt-3 mx-auto w-50 text-center' ng-if='vm.books.data[0] === "timeout"')
  .alert.alert-danger
    h4.alert-heading Gateway timeout
    p The Slim server is up, but the request couldn’t be serviced due to some failure. Try again later.
    p.small.mb-0 However, if this message isn't eventually replaced, please <a href='https://www.github.com/Liad91'>contact us</a>.
.notes
.app-main(ng-show='vm.books.data[0] !== "loading" && vm.books.data[0] !== "timeout"')
  .container-fluid
    .row.my-4
      .col-md-4
        .card.card-tip
      .col-md-4
        .card.card-tip
      .col-md-4
        .card.card-tip
    .card
      .head
        h3 Current Table: All Books
        p.small.text-info You can sort the table by clicking on the headers below

      div(class='mt-3 mx-auto w-50 text-center' ng-if='vm.table.displayedData.length < 1 && !vm.state.searchQuery')
        .alert.alert-info
          h4.alert-heading No Books Found!
          p You can add new book by using the options panel in the top menu.
          p.small.mb-0 However, if this message isn't eventually replaced, try to refrash the page.

      div(class='mt-3 mx-auto w-50 text-center' ng-if='vm.table.displayedData.length < 1 && vm.state.searchQuery')
        .alert.alert-info
          h4.alert-heading No Books Found!
          .alert-body.text-left
            h5 Search Help:
            ul
              li Check your search for typos
              li(ng-if='vm.state.currentFilter !== "All"')
                a(href='' ng-click='vm.table.switchFilter("All")') Change filter
              li Use fewer words
              li Add spaces between words
              
      .table-responsive(ng-show='vm.table.displayedData.length > 0')
        table(class='table table-hover striped mb-0')
          thead
            tr
              th
                a(href='' ng-click='vm.table.sortBy("title")' ng-class='{"active": vm.state.sortBy === "title"}') Title
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "title" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "title" && vm.state.sortReverse}')
              th
                a(href='' ng-click='vm.table.sortBy("Author.name")' ng-class='{"active": vm.state.sortBy === "Author.name"}') Author
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "Author.name" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "Author.name" && vm.state.sortReverse}')
              th
                a(href='' ng-click='vm.table.sortBy("Genre.genre")' ng-class='{"active": vm.state.sortBy === "Genre.genre"}') Genre
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "Genre.genre" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "Genre.genre" && vm.state.sortReverse}')
              th
                a(href='' ng-click='vm.table.sortBy("first_published")' ng-class='{"active": vm.state.sortBy === "first_published"}') First Published
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "first_published" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "first_published" && vm.state.sortReverse}')
              th
                a(href='' ng-click='vm.table.sortBy("quantity")' ng-class='{"active": vm.state.sortBy === "quantity"}') Quantity
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "quantity" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "quantity" && vm.state.sortReverse}')
              th
                a(href='' ng-click='vm.table.sortBy("available")' ng-class='{"active": vm.state.sortBy === "available"}') Available
                small
                  i.fa(ng-class='{"fa-sort-desc": vm.state.sortBy === "available" && !vm.state.sortReverse, "fa-sort-asc": vm.state.sortBy === "available" && vm.state.sortReverse}')
              th Actions
          tbody(ng-repeat='book in vm.table.displayedData')
            tr(ng-hide='book.editMode')
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.title')
                br
                small(style='color:red;' ng-if='book.changed') Draft
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.Author.name')
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.Genre.genre')
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.first_published')
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.quantity')
              td(ng-click='vm.table.edit(book, $index)')
                span(ng-bind='book.available')
              td(ng-click='vm.table.edit(book, $index)')
                button(class='btn btn-sm btn-primary btn-block' ng-click='vm.table.edit(book, $index)') Edit

            tr(name='book.form' class='table-active' ng-if='book.editMode' ng-form)
              td(ng-class='{"has-danger": book.form.title.$invalid && (book.form.title.$dirty || book.form.$submitted)}')
                .form-group
                  input(type='text' name='title' class='form-control form-control-sm' autocomplete='off' ng-model='book.title' ng-change='book.modified = true' list='vm.titles' unique required)
                  div(class='tooltip' ng-messages='book.form.title.$error')
                    div(ng-messages-include='error-messages')
                    div(class='tooltip-inner' ng-message='unique') Title should be unique
              td(ng-class='{"has-danger": book.form.author.$invalid && (book.form.author.$dirty || book.form.$submitted)}')
                select(name='author' class='form-control form-control-sm' ng-model='book.Author' ng-change='book.modified = true' ng-options='author.name for author in vm.authors | orderBy:"name" track by author.id')
              td(ng-class='{"has-danger": book.form.genre.$invalid && (book.form.genre.$dirty || book.form.$submitted)}')
                select(name='genre' class='form-control form-control-sm' ng-model='book.Genre' ng-change='book.modified = true' ng-options='genre.genre for genre in vm.genres | orderBy:"genre" track by genre.id')
              td(ng-class='{"has-danger": book.form.published.$invalid && (book.form.published.$dirty || book.form.$submitted)}')
                .form-group
                  input(type='number' name='published' class='form-control form-control-sm' autocomplete='off' ng-model='book.first_published' ng-change='book.modified = true' min='1800' max='{{vm.getCurrentYear()}}' required)
                  div(class='tooltip' ng-messages='book.form.published.$error')
                    div(ng-messages-include='error-messages')
                    div(class='tooltip-inner' ng-message='min') The earliest year first published can be is 1800
                    div(class='tooltip-inner' ng-message='max') The latest year first published can be is this year
              td(ng-class='{"has-danger": book.form.quantity.$invalid && (book.form.quantity.$dirty || book.form.$submitted)}')
                .form-group
                  input(type='number' name='quantity' class='form-control form-control-sm' autocomplete='off' ng-model='book.quantity' ng-change='book.modified = true' min='{{book.loaned}}' required)
                  div(class='tooltip' ng-messages='book.form.quantity.$error')
                    div(ng-messages-include='error-messages')
                    div(class='tooltip-inner' ng-message='min') Quantity can't be lower than {{book.loaned}}
              td
                span(ng-bind='book.available')
                input(type='hidden' name='available' ng-model='book.available')
              td
                button(class='btn btn-sm btn-primary btn-block' ng-if='book.modified' ng-click='vm.table.save(book)') Save
                button(class='btn btn-sm btn-primary btn-block' ng-if='!book.modified' ng-click='vm.table.cancel(book)') Close
                button(class='btn btn-sm btn-warning btn-block' ng-if='book.modified' ng-click='vm.table.cancel(book)') Cancel
                button(class='btn btn-sm btn-danger btn-block' ng-click='vm.table.delete(book, $index)') Delete

        pagination(nav='vm.table.nav' current-page='vm.state.currentPage' set-page='vm.table.setPage(page)' total-pages='vm.table.totalPages' length='vm.state.paginationLength')