// Reset

.animated {
  -webkit-animation-duration: $medium;
  animation-duration: $medium;
  animation-timing-function: linear;
}

// Keyframes

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-80px);
  }
}

// Class animation

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}


// Angular animations

.view {
  @include fadeIn($fast);
}

.row {
  @include fadeInDown($fast);
  @include fadeOutUp($fast);
}

.panel.main {
  @include fadeInRight($fast);
  &.ng-hide-add {
    display: none;
  }
}

.panel.new {
  @include fadeInLeft($fast);
  &.ng-hide-add {
    display: none;
  }
}

table tbody {
  @include fadeIn($fast);
  @include fadeOut($fast);
  // &.ng-enter-stagger {
  //   transition-delay: 0.1s;
  //   transition-duration: 0s;
  // }
  // &.ng-leave-stagger {
  //   transition-delay: 0.1s;
  //   transition-duration: 0s;
  // }
}