.scrollbar {
  border-right-width: $spacer * 0.25;
  border-right-style: solid;
  border-right-color: transparent;
  &::-webkit-scrollbar {
    position: absolute;
    -webkit-appearance: none;
    width: 8px;
  }
  &::-webkit-scrollbar-corner {
    background: $white;
  }
  &::-webkit-scrollbar-thumb {
    background: #d9d9de;
    box-shadow: inset 0 -2px, inset 0 -3px, inset 0 2px, inset 0 3px;
    min-height: 36px;
  }
  &::-webkit-scrollbar-thumb, &::-webkit-scrollbar-track {
    background-clip: padding-box!important;
    border-radius: 3px;
    color: $white;
  }
  &::-webkit-scrollbar-track {
    background: #f3f3f3;
    box-shadow: inset 0 -4px 0 0, inset 0 4px 0 0;
  }
}

.panel-tab {
  display: flex;
  align-items: center;
  padding: $spacer * 1.5;
}

.flex-center {
  display: flex;
  align-content: center;
  justify-content: center;
}